<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Home </title>
    <link href="files/img/favicon.png" rel="icon"> 
    <link type="text/css" href="files/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" href="files/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="files/css/btc.css" rel="stylesheet">
    <link type="text/css" href="files/css/flexslider.css" rel="stylesheet">
    <script type="text/javascript" src="files/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="files/js/bootstrap.min.js"></script>
</head>

<body id="home">

<nav class="navbar navbar-expand-lg fixed-top" id="header" >
    <div class="container-fluid">
        <a class="navbar-brand" href="./"><img src="files/img/logo.png" height="40" width="auto" class="img-responsive"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav" >
                <li><a class="nk scroll" href="./"> HOME </a></li>
                <li><a class="nk scroll" href="#why"> WHY NOW </a></li>
                <li><a class="nk scroll" href="#testimonials"> TESTIMONIALS </a></li>
                <li><a class="nk btn btn_green" href="./signup.html">GET STARTED</a></li>
                <li><a class="nk btn" href="./login.html"> LOGIN </a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="supertop">
    <div class="thin">
        <div class="row">   
            <div class="col-lg-12 col-md-12">
                <div class="supertext">
                    <h1>The times are hard. But it doesn't have to be so for you.</h1>
                    <p>Discover how you can earn money and other freebies in the midst of the Corona pandemic.</p>
                    <a href="#more" class="btn scroll">DISCOVER HOW </a>
                </div>  
            </div>   
        </div>
    </div>
</section>

<section class="container">
    <div class="superdata">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h1>300,000 <sup>dollars</sup></h1>
                <p>exchanged since launch</p> 
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h1>2400 <sup>people</sup></h1>
                <p>have signed up since launch</p> 
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h1>6 <sup>countries</sup></h1>
                <p>participating in helping friends.</p> 
            </div>
        </div>
    </div>
</section>

<section class="superwhy" id="why">
	<div class="container">
	   <div class="row">
    		<div class="col-lg-12">
                <h1>Why Now?</h1>
            </div>
            <div class="col-lg-4">
                <div class="why-now">
                    <div class="icon-wrap icon-red">
                        <i class="fa fa-globe icon"></i>
                    </div>
                    <div class="text">
                        <h4>To Guarantee Food Security</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="why-now">
                    <div class="icon-wrap icon-blue">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="text">
                        <h4>To Ensure Cash Reserve</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="why-now">
                    <div class="icon-wrap icon-purple">
                        <i class="icon fa fa-users"></i>
                    </div>
                    <div class="text">
                        <h4>To Create Community</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
	   </div>
    </div>
</section>

<section class="supereasy" id="more">
    <div class="thin">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Easy Withdrawal</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                    <ul>
                        <li><img src="files/img/icons/paypal.svg"></li>
                        <li><img src="files/img/icons/card.svg"></li>
                        <li><img src="files/img/icons/bank.svg"></li>
                        <li><img src="files/img/icons/btc.png"></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h1>Top 10</h1>
                    <h5>Top ten recent withdrawals in April 2020</h5>
                    <div class="sup">
                        <div class="payout" id="gameon">
                            <div style="width: 90%"> $ 1234.00 <span> 23 secs ago.</span></div>
                            <div style="width: 90%"> $ 123.00 <span> 48 secs ago.</span></div>
                            <div style="width: 90%"> $ 12.00 <span> 2 mins ago.</span></div>
                            <div style="width: 90%"> $ 190.00 <span> 45 mins ago.</span></div>
                            <div style="width: 90%"> $ 112.00 <span> 1 hour ago.</span></div>
                            <div style="width: 90%"> $ 2,344.00 <span> 3 hours ago.</span></div>
                            <div style="width: 90%"> $ 1,890.00 <span> 5 hours ago.</span></div>
                            <div style="width: 90%"> $ 1,290.00 <span> 8 hours ago.</span></div>
                            <div style="width: 90%"> $ 143.00 <span> 1 day ago.</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <span class="line"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2>How It Works</h2>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="how"><img src="files/img/signup.png" alt=" "> <h6>Create Account</h6> </div>
                    <h4>Create an account in less than 60 seconds.</h4>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="how"><img src="files/img/select.png" alt=" "> <h6>Select Plan</h6></div>
                    <h4>Choose a plan after your account is verified.</h4>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="how"><img src="files/img/invest.png" alt=" "> <h6>Make Donation</h6></div>
                    <h4>Make donation to a friend around the world.</h4>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="how"><img src="files/img/withdraw.png" alt=" "> <h6>Receive Gift</h6></div>
                    <h4>Receive donation twice your gift withdrawable in 6 hours.</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="supertrend">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="trend"><div class="thinner">
                    <h1>Its trending</h1>
                    <h2>2.5 billion </h2>
                    <span>people will be affected</span>
                    <h2>40% of companies</h2>
                    <span class="nomgbtm">will be adversely disappear</span>
                </div></div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="blog">
                    <h3>Blog</h3>
                    <div class="post">
                        <a href=""><h5>Infographics of the impact of the pandemic on humanity</h5></a>
                        <h6>April 14, 2020</h6>
                    </div>
                    <div class="post">
                        <a href=""><h5>Humanity is in deep shit</h5></a>
                        <h6>April 14, 2020</h6>
                    </div>
                    <div class="post">
                        <a href=""><h5>Join now or you die</h5></a>
                        <h6>April 14, 2020</h6>
                    </div>
                    <div class="post">
                        <a href=""><h5>2.5 million people will be affected</h5></a>
                        <h6>April 14, 2020</h6>
                    </div>
                    <div class="post">
                        <a href=""><h5>Stunning infographics of the impact of the pandemic on humanity</h5></a>
                        <h6>April 14, 2020</h6>
                    </div>
                    <div class="post">
                        <a href=""><h5>Stunning infographics of the impact of the pandemic on humanity</h5></a>
                        <h6>April 14, 2020</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="super_community" id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-12">
                <h1>Join our international community! </h1>
                <p>With 60 languages supported, 60+ trusted affiliate programs and exclusive tools, we are constantly growing.</p>
                <a href="" class="btn">JOIN NOW </a>
            </div>
            <div class="col-lg-7 col-sm-12">
                <div class="flexslider" style="">
                    <div class="set-flexi" id="main-section">
                        <ul class="slides move-me">
                            <li>
                                <h3>Personal approach, high stakes, instant solution to emerging problems – all this is inherent in the company. I definitely recommend!</h3>
                                <p class="">Jack Welch</p>
                            </li>
                            <li>
                                <h3>The team is a really friendly one. They reply promptly and get to the heart of the problem, which helps issues get resolved really quickly.</h3>
                                <p class="">Hunters Wilder</p>
                            </li>
                            <li>
                                <h3>They offers excellent tools for web traffic arbitrage managers and webmasters. Combined with high conversion, rates and simple human attitude – it’s a blast!</h3>
                                <p class="">Aleksey Terehoff</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid super_foot">
    <p><a href="">Terms of Service</a> <span> | </span> <a href="">Privacy Policy</a> <span> | </span> <a href="">Cookie Policy</a></p>
    <p class="copyright">&copy; 2020. Company Name.</p>
</section>

<script type="text/javascript" src="files/js/scripts.js"></script>
<script type="text/javascript" src="files/js/scroll/custom.js"></script>
<script type="text/javascript" src="files/js/scroll/jquery.flexslider.js"></script>
<script type="text/javascript" src="files/js/scroll/scrollReveal.js"></script>
<script type="text/javascript" src="files/js/scroll/jquery.easing.min.js"></script>

</body>
</html>
